{% load static %}
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Fake News Detection</title>
	<link href= "{% static 'fakenews/home.css' %}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
	<style>
		body {
			margin: 0;
			padding: 0;
			background:url("{% static 'fakenews/new2.jpg' %}");
			
			background-size: cover;
			font-family: sans-serif;
			color: #fff;
			text-align: center;
		}
	</style>
</head>

<body>
	<div class="signin">
		<img src="{% static 'fakenews/search.png' %}" class="user">
		<form method="post" action="/result/">
			<p >{% csrf_token %}</p>
			<h2>Check News</h2>
			<p>Enter News here</p>
			<input type="text" name="news" placeholder="eg: Obama is running president for 2016" required/>
			<div align="left">
			<input type="submit" value="Submit">
			</div>
			
			

		</form>
	</div>

</body>

</html>
