{% load static %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fake News Detection</title>
<link href="{% static 'fakenews/res.css' %}" rel="stylesheet" type="text/css"/>
<link href="static/css/cong.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<style>
body
{
  margin:0;
	padding:0;
  
		background:url("{% static 'fakenews/res.jpg' %}");
			
	background-size:cover;
	font-family: sans-serif;
	color:#fff;
	text-align:center;
}



</style>
</head>

<body>
		<div class="cong">
		<p >{% csrf_token %}</p>
		<h2><b>Result of News</b></h2>
        <p class="p2">The given news is {{news}} </p>
        <p class="p2">The given statement is  :- {{ ns1 }}<br>
			The truth probability score is :- {{ ns2 }}</p>
		<br>
		{% if re %}
		<h2>Live Streaming Tweets of given news is</h2>
		<p class="p2">
		{{re}}</p>
		{% endif %}
		<br>
       
        <a href="/">
        <button type="button" name="button" class="buttons">Check other news</button></a>
   </div>
    
</body>
</html>
